body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding: 4%;
  background-color: #001615;
  color: #FED180;
  font-family: Sans-Serif;
}
/*to keep everything inside parent container*/
*, *::before, *::after {
  box-sizing: border-box;
  width: 100%;
}

.main {
  justify-content: center;
  align-items: center;
}

.col {
  display:flex;
  flex-direction: column;
}

.col > * {
  padding: 1px;
  margin: 1px;
  justify-content: center;
  align-items: center;
}
/*give all children of the row these props: */
.row > * {
  padding: 1px;
  margin: 1px;
  justify-content: center;
  align-items: center;
  background-color: #002940;
}

.row {
  display:flex;
}

.inp-field {
  flex-basis: 100%;
}

input {
  border: none;
  appearance: none;
  background: #FED180;
  color: #001615;
  font-size: 14px;
  font-weight: 900;
}

label {
  flex-basis: 100%;
}

button {
  color: #FED180;
  background-color: #002940;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #007BC2;
  position: fixed;
  top: 0;
  width: 100%;
}

ul > li {
  display: inline;
  margin: 0px;
  padding: 8px;
  text-decoration: none;
}

li:hover {
  background-color: #001615;
}

.countdowns {
  font-size: 28px;
}